/package.xml
/applications/
/appMenus/
/assignmentRules/
/communities/
/components/
/email/
/homePageLayouts/
/labels/
/layouts/
/objects/
/pages/
/profiles/
/quickActions/
/remoteSiteSettings/
/roles/
/settings/
/staticresources/
/triggers/
/workflows/
